<form [formGroup]="postForm" (ngSubmit)="onSave()">
  <div>
    <mat-card>
      <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput formControlName="description">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Content</mat-label>
        <textarea matInput formControlName="content"></textarea>
      </mat-form-field>
      <button type="submit" appearance=" fill" mat-raised-button color="accent" [disabled]="!postForm.valid">Save
        post</button>
    </mat-card>
  </div>

</form>