.avatar {
  width: 40px;
  height: 40px;
}
.avatar-text {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.nav-toolbar {
  a {
    text-decoration: none;
    color: inherit;
  }
}

.mx-auto {
  margin-right: unset !important;
}
